/* ============================================================ */
/* INIZIO CONTENT CORSO											*/
/* ============================================================ */

.content-corso{
	height: 85%;
	width: 85%;
	background-color: #848fc8;
	color: white;
}