/* ============================================================ */
/* INIZIO CORSO													*/
/* ============================================================ */

/* 1. GRIGLIA CONTENITORE (La classe che avvolge i corsi nel file padre) */
.lista-corsi {
	padding: 20px;
	display: grid;
	/* Crea colonne automatiche: minimo 280px, se c'è spazio si allargano */
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 25px; /* Spazio tra le card */
}

/* 2. CARD DEL SINGOLO CORSO */
.corso-card {
	color: #2C3E50;
	background-color: white; /* Stacco rispetto allo sfondo del main */
	border: 2px solid  rgb(0, 131, 143, 0.6);
	border-radius: 20px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Spinge il footer in basso se il contenuto varia */
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.corso-card:hover {
	transform: translateY(-5px); /* Leggero effetto sollevamento */
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	border-color: rgb(210, 0, 90); /* Riprendo il colore dei titoli form all'hover */
}

/* 3. HEADER (Titolo e Prof) */
.corso-header h1 {
	font-size: 1.3rem;
	margin: 0 0 5px 0;
	color: rgb(210, 0, 90);
	text-align: left;
}

.corso-header .sub-text {
	font-size: 0.85rem;
	color: #607D8B;
	margin: 0;
	font-style: italic;
}

.mediaRecensioni{
	margin: 8px 0;
}

/* 4. BODY (Immagine) */
.corso-body {
	margin: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(225, 239, 239, 0.4); /* Un fondo leggero dietro l'immagine */
	border-radius: 15px;
	padding: 10px;
	height: 140px; /* Altezza fissa per allineare le card */
	cursor: pointer;
}

.corso-body img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	border-radius: 10px;
}

/* 5. FOOTER (Difficoltà e Bottone) */
.corso-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto; /* Assicura che stia sempre in fondo */
	border-top: 1px solid #e0e0e0;
	padding-top: 10px;
	column-gap: 7px;
}

.corso-footer p {
	font-size: 0.8rem;
	margin: 0;
}


.corso-footer button {
	margin: 0;
	padding: 5px 15px;
	font-size: 0.8rem;
}

.mieicorsi-header h1,
.corsiComprati-header h1 {
  font-size: 2rem;          
  color: #2c3e50;           
  text-align: center;      
  margin-bottom: 1.5rem;    
  font-weight: 400;         
}

.mieicorsi-header h1 strong,
.corsiComprati-header h1 strong {
  color: #00838f;
  font-weight: 700;
}