/* ============================================================ */
/* INIZIO MODIFICA DATI FORM									*/
/* ============================================================ */


form h1 {
	margin: 5px 0;
	font-size: 1.4rem;
	text-align: center;
	color: rgb(210, 0, 90);
}

form label {
	font-size: 0.9rem;
	font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form textarea{
	font-family: "Nunito", sans-serif;
	font-size: 0.9rem;
}

.glasspane form {
	border: 3px solid #00838F;
	background-color: #cde8e8;
	min-width: 390px;
	min-height: 150px;
	padding: 20px 30px 10px 30px;
	margin: 10px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.glasspane form input[type="text"],
.glasspane form input[type="password"],
.glasspane form textarea{
	margin-top: 5px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #607D8A;
	color: #2C3E50;
	font-weight: bold;
	min-width: 300px;
	display: flex;
}

/* Solo textarea */
.glasspane form textarea {
	min-width: 300px;
	min-height: 100px;
}

.glasspane form .actions {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 10px;
	justify-content: center;
	column-gap: 10px;
}

.errorMessage{
	color: #ea1818;
	margin-top: 10px;
	margin-left: 35px;
	align-self: flex-start;
}